aside, article, section, header, footer, nav {
  display: block;
}

html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body{
  font-size: 10px;
}

.board-container{
  margin: 50px;
}

.column-container{
  display: flex;
  flex-direction: column;
  height: 780px;
  width: 780px;
}

.top-row{
  flex: 2;
  display: flex;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.top-left-corner-cell{
  position: relative;
  border-left: 1px solid black;
  flex: 2;
}

.top-right-corner-cell{
  position: relative;
  border-left: 1px solid black;
  border-right: 1px solid black;
  flex: 2;
}

.top-cell{
  position: relative;
  border-left: 1px solid black;
  flex: 1;
}

.middle-row{
  flex: 9;
  display: flex;
}

.middle-row-left{
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.left-cell{
  position: relative;
  flex: 1;
  border: 1px solid black;
  border-bottom: none;
}

.middle-row-middle{
  position: relative;
  flex: 9;
}

.middle-row-right{
  position: relative;
  flex: 2;
  display: flex;
  flex-direction: column;
}

.right-cell{
  position: relative;
  flex: 1;
  border: 1px solid black;
  border-bottom: none;
}

.square19, .square31{
  border-top: none;
}

.bottom-row{
  flex: 2;
  display: flex;
  border: 1px solid black;
}

.bottom-left-corner-cell{
  position: relative;
  border-right: 1px solid black;
  flex: 2;
}

.bottom-right-corner-cell{
  position: relative;
  flex: 2;
}

.bottom-cell{
  position: relative;
  border-right: 1px solid black;
  flex: 1;
}

.header-type{
  min-height: 250px;
  /*margin-bottom: 150px;*/
}
