aside, article, section, header, footer, nav {
  display: block;
}

html, body, div, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body{
  font-size: 10px;
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}

.clearfix:after {
    clear:both;
}

.board-container{
  width: 80%;
  margin: auto;
  overflow: scroll;
}

.top-row, .mid-row, {
  float: left;
}

{
  float: left;
}

.bottom-row{
  float: left;
}

.corner-game-square{
  float: left;
  height: 9.6em;
  width: 9.6em;
  border: .1em solid black;
}

.game-square{
  float: left;
}

.top .square, .bottom .square{
  float: left;
  height: 9.6em;
  width: 5.3em;
  border: .1em solid black;
  border-left: none;
  position: relative;
}

.left-game-squares{
  float: left;
}

.left .square, .right .square{
  height: 5.3em;
  width: 9.6em;
  border: .1em solid black;
  border-top: none;
  position: relative;
}

.left{

}

.middle-board{
  float: left;
  height: 48.5em;
  width: 48.5em;
}

.right-game-squares{
  float: left;
}

.Connecticut{
  position: absolute;
  text-align: center;
  border-top: .1em solid black;
  width: 5.3em;
  top: 0px;
  left: 0px;
  background:rgba(128,204,255,0.7);
}
