<div class="board-container">
  <div class="column-container">
    <div class="top-row">
      <div class="square20 top-left-corner-cell"><span></span></div>
      <div class="square21 top-cell"><span></span></div>
      <div class="square22 top-cell"><span></span></div>
      <div class="square23 top-cell"><span></span></div>
      <div class="square24 top-cell"><span></span></div>
      <div class="square25 top-cell"><span></span></div>
      <div class="square26 top-cell"><span></span></div>
      <div class="square27 top-cell"><span></span></div>
      <div class="square28 top-cell"><span></span></div>
      <div class="square29 top-cell"><span></span></div>
      <div class="square30 top-right-corner-cell"><span></span></div>
    </div>

    <div class="middle-row">
      <div class="middle-row-left">
        <div class="square19 left-cell"><span></span></div>
        <div class="square18 left-cell"><span></span></div>
        <div class="square17 left-cell"><span></span></div>
        <div class="square16 left-cell"><span></span></div>
        <div class="square15 left-cell"><span></span></div>
        <div class="square14 left-cell"><span></span></div>
        <div class="square13 left-cell"><span></span></div>
        <div class="square12 left-cell"><span></span></div>
        <div class="square11 left-cell"><span></span></div>
      </div>


      <div class="middle-row-middle">

      </div>

      <div class="middle-row-right">
        <div class="square31 right-cell"><span></span></div>
        <div class="square32 right-cell"><span></span></div>
        <div class="square33 right-cell"><span></span></div>
        <div class="square34 right-cell"><span></span></div>
        <div class="square35 right-cell"><span></span></div>
        <div class="square36 right-cell"><span></span></div>
        <div class="square37 right-cell"><span></span></div>
        <div class="square38 right-cell"><span></span></div>
        <div class="square39 right-cell"><span></span></div>
      </div>
    </div>

    <div class="bottom-row">
      <div class="square10 bottom-left-corner-cell"><span></span></div>
      <div class="square9 bottom-cell"><span></span></div>
      <div class="square8 bottom-cell"><span></span></div>
      <div class="square7 bottom-cell"><span></span></div>
      <div class="square6 bottom-cell"><span></span></div>
      <div class="square5 bottom-cell"><span></span></div>
      <div class="square4 bottom-cell"><span></span></div>
      <div class="square3 bottom-cell"><span></span></div>
      <div class="square2 bottom-cell"><span></span></div>
      <div class="square1 bottom-cell"><span id="square1"></span></div>
      <div class="square0 bottom-right-corner-cell"><span></span></div>
    </div>
  </div>
</div>
